@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

/* Mobile Devices ma width 767px */
@media (max-width: 767px) {
    /*Hero section*/
    #HeroSection {
        text-align: center;
        padding: 20px 10px;
    }

    /*navbar: collapse to hamburger menu*/
    .navbar {
        flex-direction: column;
        display: flex;;
    }

    /*Services section*/
    .grid {

        margin: 10px 0;
    }

    /*adjust other elements for mobile view*/
    h1,h2,h3 {
        padding: 10px;
    }
}

/*tablets (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    /*adjust service section grid*/
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /*slightly larger fonts */
    h1,h2,h3 {
        font-size: 1.2em
    }
}

/*desktop (1025px and above) */
@media (min-width: 1025px) {
    /*keep grid in columns*/
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    /*Other desktop-specific styles can go here*/
    h1,h2,h3 {
        padding: 50px 0;
    }
}